 html {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;

}




 html {
  background-size:contain;
  background-attachment: fixed;
  color: white;
  background-size: cover;
  background-color: #39393A;

}